:root {
    --primary-color: #e50914;
    /*can change through out by changing just this*/
}

* {
    /*reset*/
    box-sizing: border-box;
    /*so padding doest affect width*/
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /*actually helvetica but free nahi hai*/
    -webkit-font-smoothing: antialiased;
    /*???*/
    background: #000;
    color: #999;
}

ul {
    list-style: none;
    /*get rid of bullets*/
}

h1,
h2,
h3,
h4 {
    color: #fff;
    /*heading clr diff that grey text*/
}

a {
    /*link*/
    color: #fff;
    /*makes blue hyperlink white*/
    text-decoration: none;
    /*take away underline*/
}

p {
    margin: 0.5rem 0;
    /*we need margin for para*/
    /*1 rem = no. of px of font size of root html*/
}

img {
    width: 100%;
    /*need img to be 100% of container*/
}

.showcase {
    width: 100%;
    height: 93vh;
    /* vh= viewport height, ie the visible scrn height*/
    /*hass 100vh, we take 93 to leave a lil at neeche*/
    position: relative;
    /*??*/
    background: url(../img/background.jpeg) no-repeat center center/cover;
}

.showcase-top {
    position: relative;
    /*??*/
    height: 90px;
}

.showcase-top img {
    /*logo sizing and positioning*/
    width: 170px;
    position: absolute;
    /*??*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*discounts the size of img while positioning*/
}